// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";
@import "blueprint";

body {
	@include blueprint;
  font:14px "Lucida Sans Unicode", "Microsoft YaHei", "Lucida Grande", sans-serif;
  a:visited { color: #06C; }
}

/** 
  needs changing:
    language selection hover needs to have the images preloaded


 **/
 
 /**-----------------------------------**/
/**---------- GENERAL STUFF -----------**/
/**------------------------------------**/
 
.sidemap_line {
   padding: 30px 0;
   background: url('../images/sitemap_line.png') no-repeat center center;
   height: 1px; 
}
 
.shadow {
  -moz-box-shadow:    2px 2px 5px 0 #CCC;
  -webkit-box-shadow: 2px 2px 5px 0 #CCC;
  box-shadow:         2px 2px 5px 0 #CCC;
}

body .custom-prepend-15 {
  padding-left: 15px;
}

.picturestyle1 {
  padding:15px 20px;
  padding: 4px;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  max-width: 220px;
  float: left;

}

/**-----------------------------------**/
/**------------- MENU BAR ------------**/
/**-----------------------------------**/

.menu_bar {
  margin: 10px auto;
  font-size: 85%;
}

.menu_bar ul, .menu_bar ul li {
  float: left;
  list-style-type: none;
}

.menu_bar ul li {
  margin-left: 120px;
}

.menu_bar li a{
  padding: 2px 0;
  display: block;
  text-decoration: none;
  &:hover, &:focus {
    color: #333;
  }
}

.menu_bar li:first-child {
  margin-left: 0;
}
.menu_bar:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;    
}


#mini_menu_bar {
  font-size: 85%;
  &.company {
    #link_company {
      color: #ddd;
    }
  }
  &.products {
    #link_products {
      color: #ddd;
    }
  }
  &.service {
    #link_service {
      color: #ddd;
    }
  }
  &.partner {
    #link_partner {
      color: #ddd;
    }
  }
  #link_store {
    background-color: #276DBC;
    color: #fff;
    padding: 18px 8px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    position: relative;
    top: -15px;
  }
}

#mini_menu_bar ul, #mini_menu_bar ul li {
  float: left;
  list-style-type: none;
}

#mini_menu_bar ul li {
  margin-left: 20px;
}

#mini_menu_bar li a{
  padding: 2px 0;
  display: block;
  text-decoration: none;
  &:hover, &:focus {
    color: #bbb;
  }
}

#mini_menu_bar li:first-child {
  margin-left: 0;
}
#mini_menu_bar:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;    
}
 

/**-----------------------------------------------**/
/**- HEADER STUFF AND TOP SECTION (AS FRONTPAGE) -**/
/**-----------------------------------------------**/

#landing_page_top {
  margin-bottom: 50px;
}

.top_section {
  background-color: #000;
  color: #fff;
  #header {
    padding: 15px 0 20px;
    vertical-align: middle;

  .span-3{
    margin-top:-0.35em;
  }  
  }
  .weibo a {
    background: url('../images/weibo.jpg') no-repeat center center;
    &:hover, &:visited {
      background: url('../images/weibo_hover.jpg') no-repeat center center;      
    }
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    width: 32px;
    padding: 0 5px;
  }
  .renren a {
    background: url('../images/renren.jpg') no-repeat center center;
    &:hover, &:visited {
      background: url('../images/renren_hover.jpg') no-repeat center center;      
    }
    float: left;
    height: 32px;
    width: 32px;
    padding: 0 5px;
  }
}

#frontpage_picture_frame {
  padding: 10px; 
  img {
    width: 950px;
  }
}

#frontpage_pane_mobile {
  background-color:white !important;
  background: url('http://www.coresystems.ch/wp-content/uploads/pic/9593_eCommerce_go_small_314px.jpg') no-repeat center center; 
}

#frontpage_pane_country_package {
  background-color:white !important;
  background: url('http://www.coresystems.ch/wp-content/uploads/pic/1453_coresuite_country_pack_Search_480px.jpg') no-repeat 4px 20px;
  background-size: 320px; 
}

#frontpage_pane_cube {
  background-color:white !important;
  background: url('http://www.coresystems.ch/wp-content/uploads/pic/3751_coresuite_cube_Auswertungen_480px.jpg') no-repeat 4px 20px; 
  background-size: 320px;
}

#frontpage_pane_integration {
  background-color:white !important;
  background: url('../images/service_overview_picture1.jpg') no-repeat 4px 20px; 
  background-size: 320px;
}

#frontpage_pane_mobility {
  background-color:white !important;
  background: url('../images/service_overview_picture2.png') no-repeat 4px 20px; 
  background-size: 320px;
}

#frontpage_customer_logo{
  margin: 20px 0px 40px 0px;
  a{
  text-decoration: none;
  color:black;

  &:hover{
    color:#0066CC;
    text-decoration: underline;}
  }
}

.css-panes > div {
  background: url('http://placehold.it/320x320') no-repeat center center;
}

.top_section:after {
  background: url('../images/frontpage_top_section_bottom_bar.png') repeat-x;
  height: 53px;
  display: block;
  content: "";
  border-bottom: 10px solid #fff;
}

.top_section {
  background-color: #000;
  color: #fff;
}
.top_section #header {
  padding: 15px 0 20px;
  vertical-align: middle;
}
.top_section .language_select_de a {
  background: url("../images/Sprachbutton_grau_de.png") no-repeat center center;
  background-repeat: no-repeat;
  float: left;
  height: 22px;
  width: 23px;
  padding: 0 5px;
}
.top_section .language_select_de a:hover, .top_section .language_select_de a:visited {
  background: url("../images/Sprachbutton_weiss_de.png") no-repeat center center;
}
.top_section .language_select_en a {
  background: url("../images/Sprachbutton_grau_en.png") no-repeat center center;
  float: left;
  height: 22px;
  width: 23px;
  padding: 0 5px;
}
.top_section .language_select_en a:hover, .top_section .language_select_en a:visited {
  background: url("../images/Sprachbutton_weiss_en.png") no-repeat center center;
}
.top_section #frontpage_news {
  font-size: 90%;
  margin-left: 20px;
}

#product_top_section {
  margin: 10px 0 20px;
  background: url("../images/productpage_top2.jpg") no-repeat center center;
  height: 495px;
  width: 970px;
}

#partner_top_section {
  margin: 10px 0 20px;
  background: url("../images/partner.png") no-repeat center center;
  height: 495px;
  width: 970px;
}

/**-----------------------------------**/
/**------------- CONTENT -------------**/
/**-----------------------------------**/

#frontpage_content:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
  margin-bottom: 20px;   
}


.white_section {
  margin-bottom: 30px;
}

.grey_section {
  background-color: #eceffd;
  background-color: #e7e7e8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(231, 231, 232)), color-stop(1, rgb(236, 239, 253))) !important;
  background: -moz-linear-gradient(center top, rgb(231, 231, 232) 0%, rgb(236, 239, 253) 100%) !important;
  .container {
    margin-bottom: 30px;    
  }
}

.grey_section:before, .grey_section:after {
  height: 1px;
  display: block;
  content: "";
  background-color: #4b80c1;
  margin-bottom: 30px;
  .last_section {
    background-color: inherent;
  }
}



.last_section {
  margin-bottom: 10px;
}


/**-----------------------------------**/
/**------------- PRODUCT -------------**/
/**-----------------------------------**/

#on_demand {
  .span-2 {
    margin-right: 0.25em;
    overflow: hidden;
  }

  .span-24 {
    margin-top:0.6em;
  }
  h4 {
    font-size: 1.2em;
    font-weight: 700;
    color: #06C;
    margin-bottom:0.25em;
  }
  h3{
    font-size: 2.5em;
    font-weight: 700;
    color: grey;
  }

  p{
    margin-bottom:0em;
    font-size:1.2em;
  }

  .product_mobile{
    margin-bottom:3em;
    font-size:1.3em;
  }

  img{
    max-width:50px;
  }
}

#on_premise {
  .span-2 {
    margin-right: 0.25em;
    overflow: hidden;    
    img {
      width:50px
    }
  }
  .span-18 {
    @include prepend-top;
    img {
      height: 30px;
      float: left;
      margin-right: 7px;
    }
  }
  h4 {
    font-size: 1.6em;
    font-weight: 700;
    color: #06C;;
    margin-bottom:0.25em;
  }
  h3{
    font-size: 2.5em;
    font-weight: 700;
    color: grey;
  }

  p{
    margin-bottom:0em;
    font-size:1.2em;
  }

  .product_premise{
    margin-bottom:3em;
    font-size:1.3em;
  }
}

#on_demand .span-11{
  margin:0em;
}

#on_demand .span-13{
  margin-bottom:1em;
}

#on_premise .span-13{
   margin-bottom:3em;
}

#product_topic #product_description p{
  font-size:1.2em;
}

#ecommerce, #map{
  margin-top: 4em;
}

#coresystems_overview{
  font-size:1.2em;
}


/**-----------------------------------**/
/**------------- SERVICE -------------**/
/**-----------------------------------**/

#services{
  h3{
    font-size: 2.5em;
    font-weight: 700;
    color: grey;
    margin-bottom: 0.3em;
  }

  h4{
    font-size:1.5em;
    font-weight: 700;
    margin-left:3em;
  }

p.service_description{
  font-size:1.4em;
  margin-left:3.2em;
  margin-top:0em}   

p.service_info{  
  font-size:1.4em;  
  margin-left:3.5em;
  margin-top:2em;  

  span{
    color: #22b24c;
  }     
}

blockquote{
  margin:0;
  color: black;
  font-size: 1.3em; 

span{
      font-style:normal;
  }

.bqstart1 {
     float: left;
     height: 45px;
     margin-top: -50px;
     padding-top: 0px;
     margin-bottom: 10px;
     font-size: 700%;
     color: #c7c7c7;
 }


 .bqend1 {
     float: right;
     height: 25px;
     margin-top: -90px;
     padding-top: 0px;
     font-size: 700%;
     color: #c7c7c7;
     margin-right: 345px;
 }   

.bqstart2 {
     float: left;
     height: 45px;
     margin-top: -50px;
     padding-top: 0px;
     margin-bottom: 10px;
     font-size: 700%;
     color: #c7c7c7;
 }


 .bqend2 {
     float: right;
     height: 25px;
     margin-top: -90px;
     padding-top: 0px;
     font-size: 700%;
     color: #c7c7c7;
     margin-right: -210px;
 }  

.bqstart3 {
     float: left;
     height: 45px;
     margin-top: -50px;
     padding-top: 0px;
     margin-bottom: 10px;
     font-size: 700%;
     color: #c7c7c7;
 }

 .bqend3 {
     float: right;
     height: 25px;
     margin-top: -90px;
     padding-top: 0px;
     font-size: 700%;
     color: #c7c7c7;
     margin-right: 285px;
   }

/** .bqend3 {
    background: url('../images/quote_end.png') no-repeat;
    height: 53px;
    display: block;  
    float: right;
    height: 25px;
    margin-top: -50px;
    padding-top: 10px;
    font-size: 700%;
    color: #c7c7c7;
    margin-right: 270px;
    content:""; }**/
}
}

#service_intro{
  h3{
    font-size:2.5em;
    color:black;
    margin-bottom:1em;
  }

  p{
    font-size:1.3em;
    margin-bottom:1.5em;
  }

  span{
    font-size:1.2em;
  }
}
/**-----------------------------------**/
/**---------- FOOTER STUFF -----------**/
/**-----------------------------------**/

#footer:before {
  background: url('../images/footer_section_top_bar.png') repeat-x;
  height: 53px;
  display: block;
  content: "";
}

#footer{
  width: 100%;
  background-color: #000;
  color: #fff;
  #footer_content {
    border-bottom: 5px solid #000;
    font-size: 85%;
  }
}

#footer ul, #footer ul li {
  list-style-type: none;
  float: left;
  padding-left: 0;
}

#footer li a {
  padding: 2px 5px;
  text-decoration: none;
}

/**-----------------------------------**/
/**---------- COMPANY ----------------**/
/**-----------------------------------**/

.employee{
  @include column(8);

  h3{
    color: #0066CC;
    font-size: 1.2em;
    margin:0.5em 0 0 0em;}

  p{
    @include column(8);
    margin:0 0 0.8em 0em;}
}


#service_customers_quotes, #china_office, #success_story, #company_overview,{ 
  h3, h2, p{
    a{
    text-decoration: none;
    color:black;

    &:hover{color:blue;}
    }
  }
}

#china_office, #success_story, #company_overview{
  p{
    font-size:1em;
  }
}

/**-----------------------------------**/
/**---------- PARTNER ----------------**/
/**-----------------------------------**/

#partner{
  h3{
    font-size: 2.5em;
    font-weight: 700;
    color: grey;  
    text-align:center;    
  }  

  h4{
    font-weight:700;
    display:block;
    margin-bottom:2.5em;
    margin-top:1em;
    font-size:1.7em;
    text-align:center;
  }

  p{
    font-size:1.2em;
    text-align:left;    
  }


}

#partner_images{
  margin-bottom:4em;
  margin-left:6em;
  img{
    padding-bottom: 10px;
  }
}

.green_arrow {
  background: url('../images/green_arrow.png') no-repeat;
  background-position: left 70% ;
  background-size: 20px 20px;
  height: 20px;
  display: block;
  content: "";
  padding-left:20px;
  padding-bottom:5px;
}  

.green_tree{
  background: url('../images/green_tree.png') no-repeat;
  background-position: 60% center ;
  background-size: auto 40px;
  display: block;
  content: "";
  padding-right:50px;
  padding-bottom:5px;
  padding-top:5px;
}  

#partner_contact{
  h3,p{
    text-align:left;
  }
}