 <div class="container">
  <header>
    <nav class='navigation'>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/service">Our services</a></li>
        <!-- <li><a href="/work">Our work</a></li> -->
        <li><a href="/ourprocess">Process</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  <hr />
  <!-- <nav class='language'>
    <ul>
      <li><a href="/home" class="current">en</a></li>
      <li><a href="/home">fr</a></li>
      <li><a href="/home">中文</a></li>
      <li><a href="/home">日本</a></li>
    </ul>
  </nav> -->
  </header>
  <div id="logo_header_contact">
      <div id='slogan_contact' class='slogan' >
  	    	<h1>{% editable_short_text 'main slogan' %} web age corp{% endeditable_short_text %}</h1>
      </div>
  </div>
</div>