<div id="footer_wrapper">
	<footer>
		<div id='link_footer'>
		  <div id='link_footer_1'>
		    <nav>
		      <ul>
		        <li><a href="/">Home</a></li>
		        <li><a href="/service">Our services</a></li>
		        <li><a href="/people">People</a></li>
		        <!--<li><a href="/work">Our work</a></li>-->
		      </ul>
		    </nav>
		  </div>
		  <div id='link_footer_2'>
		    <nav>
		      <ul>
		        <li><a href="/ourprocess">Process</a></li>
		        <!--<li><a href="/blog">Blog</a></li>-->
		        <!--<li><a href="/jobs">Jobs</a></li>-->
		        <li><a href="/contact">Contact</a></li>
		      </ul>
		    </nav>
		  </div>
		</div>
		<div class="address" id='office_SH'>
		  <h1>WEB AGE SHANGHAI OFFICE</h1>
		 
		  <h2>
		    Rm 2619, 500 South XiangYang Rd
		    200031 Shanghai China
		  </h2>
		  <h3>
		    E-mail:
		    <em><a href="mailto:contact@webagecorp.com">contact@webagecorp.com</a></em>
		  </h3>
		  <h3 class="phone">
		    Phone: 
				<em>(+86) 139 18 36 37 26</em>
		  </h3>
		
		</div>
		<div class="address" id='office_PA'>
		  <h1>WEB AGE PARIS OFFICE</h1>
		  <h2>
		    25 rue Pierre et Marie Curie<br />
		    94200 Ivry Sur Seine France
		  </h2>
		  <h3 class="email">
		    E-mail:
		    <em><a href="mailto:contact@webageperformancemarketing.com">contact@webageperformancemarketing.com</a></em>
		  </h3>
		  <h3 class="phone">
		    Phone: 
				<em>(+33) 06 99 52 44 12</em>
		  </h3>
		</div>
	</footer>
	<div id="copyright">
		<h3>&#169; 2011 Web age corp. | <a href=/privacy> Privacy policy </a> </h3>
	</div>
		<div style="clear:both;"></div>
</div>
