<div id="header" class="span-24 last">
  <div class="span-11 box">
  <a href="/">
    <img src="{{ 'coresystems_logo.png' | theme_image_url }}">
  </a>
  </div>
  <div id="mini_menu_bar" class="{{ page.slug }} span-10">
    <ul>
      <li>     
        <a id="link_company" href="/company">关于鹤鸣</a>
      </li>
      <li>
        <a id="link_products" href="/products">产品</a>
      </li>
      <li>      
        <a id="link_service" href="/service">研发及售后服务</a>
      </li>
      <li>      
        <a id="link_partner" href="/partner">合作伙伴</a>
      </li>
      <li>      
        <a id="link_store" href="https://www.coresuite.com/store">线上购买</a>
      </li>
    </ul>         
  </div>
  <div class="span-3 last">
    <div class="weibo"><a href="#"></a></div>
    <div class="renren"><a href="#"></a></div>
  </div>
</div>