<div class="menu_bar prepend-1 span-24 last">
  <ul>
    <li>
      company
      <a href="/company_overview">company overview</a>
      <a href="/china_team">china team</a>
      <a href="/success_story">success story</a>
    </li>
    <li>
      products
      <a href="/products">coresuite country package</a>
      <a href="/products">coresuite mobile</a>
    </li>
    <li>
      services
      <a href="/service_overview">services overview</a>
      <a href="/mobile_solution">mobile solution</a>
    </li>
    <li>
      partner
      <a href="/starter_guide">starter guide</a>
      <a href="/download_area">download area</a>
    </li>
  </ul>         
</div>