<div id="mini_menu_bar" class="span-8">
  <ul>
    <li>     
      <a href="/company">关于鹤鸣</a>
    </li>
    <li>
      <a href="/products">产品</a>
    </li>
    <li>      
      <a href="/service">研发及售后服务</a>
    </li>
    <li>      
      <a href="/partner">合作伙伴</a>
    </li>
  </ul>         
</div>