{% block slogan %}
{% include 'logo' %}
	<div class='slogan'>
		<h1>{% editable_short_text 'people slogan' %} Meet our key people {% endeditable_short_text %}</h1> 
    <h2>{% editable_short_text 'people slogan subtext' %} We can guide you from <em>Planning</em> to <em>Success</em>{% endeditable_short_text %}</h2>
	</div>
{% endblock slogan %}
