<div class='slogan_service slogan'>
	<h1>{% editable_short_text 'service slogan' %} Our Services {% endeditable_short_text %}</h1> 
	<p>You have an idea for e-commerce website, or something complex? Call us and we will take care of everything; from the design to bringing the traffic we can develop complete  online solutions.</p>
</div>
