{% extends parent %}
{% block top_section %}
  {% include 'top_section_mini' %}
{% endblock %} 
{% block content %}
  <div class="container">
    {% include 'menu' %} 
  </div>
  <div class="container">
    {% include 'footer' %}
  </div>
{% endblock %}  