{% extends parent %}
{% block top_section %}
  {% include 'top_section_mini' %}
{% endblock %}   
{% block content %}
  <div id="china_team" class="white_section section_blue_line">
    <div class="container">
      <div class="span-8 prepend-1">
        <h3>
        {% editable_short_text 'coresystems shanghai' %}
          CORESYSTEMS SHANGHAI
        {% endeditable_short_text %}
        </h3>
        {% editable_long_text 'china team part 1' %}
          是一个总部设在瑞士的欧洲领先云计算企业。发展战略重点的是在成熟及新兴市场中为中小型企业提供一站式的ERP产品及服务。理所当然亚洲市场是其发展的非常重要的部分。

          我们自2009年进入中国，在合作伙伴中以我们的优秀的SAP增强模块产品coresuite著称；以SAP产品的ERP咨询服务为重点立足于中国市场，三年来为诸如Bruderer, Proceq, Beumer等国外知名企业提供了客户满意的产品和咨询服务。
           
          到2012年底，我们将拥有30名专业优秀的SAP ERP管理咨询顾问和云计算技术的开发人员。
           
          公司目前设有云计算开发中心、ERP管理咨询服务部、和客户系统运营支持服务部，从而为我们的客户提供全方位完整的解决方案。 
      {% endeditable_long_text %}
      </div>
      <div class="span-13 prepend-2 last">
        <img src="{{ 'china_team.jpg' | theme_image_url }}" style="top: 30px; position: relative; width:100%; margin-bottom:4.5em" class="shadow">
      </div>
      <div class="span-24 prepend-top prepend-1">
        {% editable_long_text 'china team part 2' %}
          如果我们分析世界的趋势，可以看到：经济的重心已从西方转到东方；市场重心已从成熟市场转到新兴发展的国家；产业的结构已从垂直整合多角化转到水平整合和开发核心能力；竞争的焦点（核心能力）已从效率延伸到创新。中国已经成为一个制造大国，在度过了以低人力成本和浪费资源为代价成长的阵痛之后，也必将成为一个IT信息咨询（以ERP管理咨询为核心）的服务应用大国。
           
          从信息技术的角度来讲，则是以降低企业信息化过程的TCO为基础的发展，Mobile, SOA、SaaS、On-Demand自然是我们IT信息咨询服务战略的重点。也就是我认为的一个企业的经营管理的信息化过程就是从Data到Information，从Information到Knowledge的转变；在其中一定要控制信息化过程说带来的TCO，使企业真正体会到ROI。 

          我们是一个产品及服务型企业。光有一个好的，成熟的产品是远远不够的，我们注重服务的质量和服务的能力。我们提倡要具备流程的管控能力，顾问和用户之间有互动；要做到标准化，从而避免实施内容和服务质量发生偏差。再进一步我们的发展就是知识型，知识萃取型。知识的萃取能力将是我们成为国内知名咨询服务企业的关键因素。 

          在这里，我要感谢我们员工辛苦的工作。我们珍惜和注重每一位员工的价值和能力。我们愿意与我们的员工、客户一起共同见证和分享这个具有潜力和梦想的公司的成长和发展!
        {% endeditable_long_text %}
      </div>

      <div class="span-22 prepend-top prepend-1 append-1">
        <div class="span-8">
          <img src="{{ 'Andrea Cheng.jpg' | theme_image_url }}" style="width:100%" class="shadow">
          <div class="employee">
            <h3>Name:</h3> Andrea Cheng / 郑天文
            <h3>Position:</h3> 亚太区市场营销主管
            <h3>Mobile number:</h3> 86 186 169 13007
            <h3>Fax number:</h3> andrea.cheng@coresystems.ch
          </div>
        </div>
      </div>
    </div>    
  </div>
    {% include 'footer' %}
{% endblock %}